.add-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.searchbar-wrapper {
    margin: 0 50px;
    display: flex;
    justify-content: flex-end;
}

.searchbar {
    width: 25vw;
    padding: 1px 10px;
}

.grid-wrapper {
    margin: 50px;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-wrapper .item-title {
    display: flex;
    justify-content: center;
    margin: 10px;
}

